a, h1, h2, h3, h4, h5, h6, p, a, button, span, td, tr{
    font-family: Roboto;
    text-decoration: none;
    color: #008753
}

::placeholder {
    font-size: 15px;
    color: #008753;
    opacity: 30%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}

#polls .container-fluid {
    padding: 0px !important;
    margin: 0px !important;
}

/* navigation  */
#polls nav {
    height: 75px;
    background-color: #008753;
}

ul li {
    letter-spacing: 3.2px;
    font-weight:bolder;
    padding: 0px 10px;
    transition-duration: 0.2s;
    transition-timing-function:ease-in;
}

nav h1 {
    font-size: 16px;
    color: white
}

li a {
    color: white !important
}

#polls ul li:hover {
    border-bottom: solid 3px white;
}

#polls ul li .active {
    border-bottom: solid 2px white;
}

#polls ul li .active:hover {
    border-bottom: 0px;
}

.navbar-toggler {
    background: #008753;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: white;
    border: solid 1px white;

}

.navbar-toggler span + span {
    width: 18px;
    margin: 4px 0 0 4px;
    width: 22px;
}

.navbar-toggler span + span + span {
    width: 10px;
    margin-left: 4px;
}

.nav-avatar li {
    border-radius: 50%;
    background-color: white;
    width: 43px;
    padding: 0px !important
}

.nav-avatar li a {
    color: #008753 !important;
}

#polls .filter {
    text-align: right;
    margin: 40px 365px;
}

#polls .filter span {
    display: inline-block;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 18px;
}

#polls .filter select {
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

/* aspirants  */
#polls .aspirants {
    max-width: 900px;
    margin: 40px auto;
}

#polls .candidate {
    height: 137px;
    border: solid 1px #CFCFCF;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0px 10px 10px #00000029;
    margin-bottom: 15px;
}

#polls .candidate:hover {
    border: solid 4px #1B7CFE;
}

#polls .candidate img {
    width: 100%
}

#polls .candidate h3 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

#polls .candidate p, .detail p, .buttom p {
    font-size: 13px;
    margin-bottom: 0px;
}

#polls .candidate span, .buttom span {
    font-weight: bold;
}

.percent {
    font-weight: bold;
}

.percent span {
    float: right
}

#polls .candidate button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #008753;
    border: 0px;
    border-radius: 5px;
    margin-top: 7px;
    outline: none;
}

#polls .detail {
    border-radius: 20px;
    border: solid 1px #CFCFCF;
    position: sticky;
    top: 20px;
    padding: 10px;
    max-height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}

#polls .detail h1, .leaderboard h1 {
    font-size: 30px;
    text-align: center;
    margin: 10px 0px
}

#polls .detail h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    color: black
}

#polls .detail img {
    width: 100%
}

#polls .top h1 {
    text-align: left;
}

#polls .detail button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #008753;
    border: 0px;
    border-radius: 5px;
    margin-top: 7px;
}

#polls .buttom td {
    padding: 12px 0px
} 

#polls .top {
    margin-bottom: 10px;
}

#polls td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.leaderboard {
    max-width: 900px;
    margin: 60px auto;
}

.leaderboard table {
    width: 100%
}

.leaderboard img {
    width: 100%
}

.leaderboard td:nth-child(1) {
  width: 8%
}

.leaderboard tr:hover {
    background-color: #f5f5f5;
    color: white
}





/* media queries */
@media (min-width:1400px){
  
}

@media (min-width:1020px) and (max-width:1399px){
    #polls .filter {
        margin: 40px 230px
    }
}

@media (min-width:992px) and (max-width:1119px){
    #polls .filter {
        margin: 40px 160px
    }
}

@media (min-width:768px) and (max-width:991px){
    #polls .detail h1 {
        font-size: 25px;
    }

    #polls .filter {
        margin: 40px 0px
    }

    #polls .container, .container-sm {
        max-width: 900px;
    }
}

@media (min-width:576px) and (max-width:767px){
    #polls .detail h1 {
        font-size: 22px;
    }

    #polls .filter {
        text-align: left;
        margin: 40px 0px
    }

    #polls .container, .container-sm {
        max-width: 755px;
    }
    
    #polls .filter > div {
        margin: 10px
    }

    #polls .filter select {
        width: 75%
    }
}

@media (min-width:386px) and (max-width:575px) {
    #polls .detail h1 {
        font-size: 20px;
    }

    #polls .filter {
        text-align: center;
        margin: 40px 0px
    }

    #polls .filter > div {
        margin: 10px
    }
}

@media (max-width: 385px) {
    #polls .detail h1 {
        font-size: 18px;
    }

    #polls .filter {
        text-align: left;
        margin: 40px 0px;
    }

    #polls .filter > div {
        margin: 10px
    }
}
