a, h1, h2, h3, h4, h5, h6, p, a, button, span {
    font-family: Roboto;
    text-decoration: none;
    color: #008753
}

::placeholder {
    font-size: 15px;
    color: #008753;
    opacity: 30%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}

#aspirant .container-fluid {
    padding: 0px !important;
    margin: 0px !important;
}

/* navigation  */
#aspirant nav {
    height: 75px;
    background-color: #008753;
}

ul li {
    letter-spacing: 3.2px;
    font-weight:bolder;
    padding: 0px 10px;
    transition-duration: 0.2s;
    transition-timing-function:ease-in;
}

nav h1 {
    font-size: 16px;
    color: white
}

li a {
    color: white !important
}

#aspirant ul li:hover {
    border-bottom: solid 3px white;
}

#aspirant ul li .active {
    border-bottom: solid 2px white;
}

#aspirant ul li .active:hover {
    border-bottom: 0px;
}

.navbar-toggler {
    background: #008753;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: white;
    border: solid 1px white;

}

.navbar-toggler span + span {
    width: 18px;
    margin: 4px 0 0 4px;
    width: 22px;
}

.navbar-toggler span + span + span {
    width: 10px;
    margin-left: 4px;
}

.nav-avatar li {
    border-radius: 50%;
    background-color: white;
    width: 43px;
    padding: 0px !important;
}

.nav-avatar li a {
    color: #008753 !important;
}

.name-filter {
    width: 100%;
    height: 50px;
    margin: 40px 0px;
    padding: 0px 25px;
    border: solid 1px #008753;
    border-radius: 5px;
}

.name-filter input {
    border: 0px;
    margin: 11px 0px;
    outline: none;
    width: 80%
}

.name-filter input::placeholder {
    font-size: 17px;
}

.name-filter i {
    float: right;
    font-size: 30px;
    margin: 10px 0px;
    color: #008753;
}

#aspirant .filter {
    text-align: right;
}

#aspirant .filter span {
    display: inline-block;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 18px;
}

#aspirant .filter select {
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

/* aspirants  */
#aspirant .aspirants {
    max-width: 900px;
    margin: 40px auto;
}

#aspirant .aspirantt {
    border: solid 1px #CFCFCF;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0px 10px 10px #00000029;
    margin-bottom: 15px;
}

#aspirant .aspirantt:hover {
    border: solid 4px #1B7CFE;
}

#aspirant .aspirantt h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

#aspirant .aspirantt p, .detail p, .buttom p {
    font-size: 13px;
    margin-bottom: 0px;
}

#aspirant .aspirantt span, .buttom span {
    font-weight: bold;
}

#aspirant .detail {
    border-radius: 20px;
    border: solid 1px #CFCFCF;
    position: sticky;
    top: 20px;
    padding: 10px;
    max-height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}

#aspirant .detail h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

#aspirant .detail button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #008753;
    border: 0px;
    border-radius: 5px;
    margin-top: 7px;
}

#aspirant .top {
    margin-bottom: 10px;
}

#aspirant .pages {
    display: flex;
    justify-content: center;
    margin: 40px auto
}

#aspirant .pages button {
    width: 120px;
    color: white;
    background-color: #008753;
    border-radius: 5px;
    outline: none;
    border: 0px;
    margin: 0px 15px;
    height: 40px
}

#aspirant .pages i {
    padding: 0px 10px
}

/* invite  */
#aspirant .invite {
    border: solid 1px #CFCFCF;
}

.invite-text {
    text-align: right;
    padding: 128px 40px
}

.invite-text h1 {
    font-size: 60px;
    color: #008753
}

.invite-text p {
    color: #008753;
    font-size: 18px;
}

.invite-input {
    background-color: #58B801;
    padding: 50px 40px
}

.invite-input p {
    margin-bottom: 5px !important;
    font-size: 20px;
    color: #008753;
}

.invite-input input {
    width: 300px;
    margin-bottom: 20px;
    border: solid 1px #CFCFCF;
    outline: none;
    padding: 9px 15px;
}

.invite-input button{
    color: white;
    background-color: #58B801;
    opacity: 100%;
    border: 0px;
    outline: none;
    padding-bottom: 10px;
}

.invite-input i {
    padding-left: 10px;
    font-size: 15px;
}




/* media queries */
@media (min-width:1400px){
  
}

@media (min-width:1020px) and (max-width:1399px){
    #aspirant .invite h1 {
        font-size: 40px;
    }
}

@media (min-width:992px) and (max-width:1119px){
    #aspirant .invite h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }
}

@media (min-width:768px) and (max-width:991px){
    #aspirant .container, .container-sm {
        max-width: 900px;
    }

    #aspirant .invite h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    #aspirant .invite-input input {
        width: 100%;
        margin-bottom: 10px;
        padding: 4px 10px
    }

    #aspirant .invite-text {
        text-align: center;
    }
}

@media (min-width:576px) and (max-width:767px){
    #aspirant .container, .container-sm {
        max-width: 755px;
    }

    #aspirant .filter {
        text-align: center;
    }
    
    #aspirant .filter > div {
        margin: 10px
    }

    #aspirant .filter select {
        width: 75%
    }

    #aspirant .detail h1 {
        font-size: 25px;
    }
    
    .invite h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .invite-input input {
        width: 100%;
        margin-bottom: 10px;
        padding: 4px 10px
    }

    .invite-text {
        text-align: center;
    }
}

@media (min-width:386px) and (max-width:575px) {
    .name-filter {
        width: 100%;
        height: 40px;
        margin: 25px 10px;
        padding: 0px 10px;
    }

    .name-filter input {
        margin: 6px 0px
    }

    .name-filter input::placeholder {
        font-size: 13px;
    }

    .name-filter i {
        font-size: 20px;
    }
    
    #aspirant .filter {
        text-align: center;
    }

    #aspirant .filter > div {
        margin: 10px
    }

    #aspirant .detail h1 {
    font-size: 20px;
    }

    .invite h1 {
        font-size: 30px;
    }

    .invite {
        border-top: solid 1px #CFCFCF;
        border-right: none;
        border-left: none;
    }

    .invite-input input {
        width: 100%;
        margin-bottom: 10px;
        padding: 4px 10px
    }

    .invite-text {
        text-align: center;
        padding: 20px 40px;
    }
}

@media (max-width: 385px) {
    .name-filter {
        width: 100%;
        height: 40px;
        margin: 25px 10px;
        padding: 0px 10px;
    }

    .name-filter input {
        margin: 6px 0px
    }

    .name-filter input::placeholder {
        font-size: 13px;
    }

    .name-filter i {
        font-size: 20px;
    }

    #aspirant .filter {
        text-align: left;
    }

    #aspirant .filter > div {
        margin: 10px
    }

    #aspirant .detail h1 {
    font-size: 15px;
    }

    #aspirant .pages i {
        padding: 0px 5px;
    }

    .invite h1 {
        font-size: 25px;
    }

    .invite {
        border-top: solid 1px #CFCFCF;
        border-right: none;
        border-left: none;
    }

    .invite-input input {
        width: 100%;
        margin-bottom: 10px;
        padding: 4px 10px
    }

    .invite-text {
        text-align: center;
        padding: 20px 40px;
    }
}
